.*
!.gitkeep
!.gitignore
!/.claude/
!/.claude/skills
!.env.example
!.husky
!.vscode
!.github
!.changeset
!.agents
!.dockerignore
!.oxfmtrc.json
!.oxlintrc.json

# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json